<!-- Top Bar -->
<section id="top-bar" class="p-1">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <i class="fas fa-phone"></i> <a href="tel:+1940-779-4530">+1 940-779-4530</a>
      </div>
      <div class="col-md-4">
        <i class="fas fa-envelope-open"></i> <a href="mailto:marina@cliffsmarina.com?subject=Website">marina@cliffsmarina.com</a>
      </div>
      <div class="col-md-4">
        <div class="social text-right">
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#">
            <i class="fab fa-facebook"></i>
          </a>
          <a href="#">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="#">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="#">
            <i class="fab fa-pinterest"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
