{% extends 'base.html' %}



{% block content %}

{% load humanize %}
<!-- Showcase -->
<section id="showcase">
  <div class="container text-center">
    <div class="home-search p-5">
      <div class="overlay p-5">
        <h1 class="display-4 mb-4">
          Possum Kingdom Boat Rental
        </h1>
        <p class="lead">To reserve your boat rental now, simply browse through the listings and submit a request form,
           or you may call us at <span><a href="tel:+1940-779-4530" class="text-light">+1 940-779-4530</a></span> or text. Of course, you may reserve in person.</p>
        <div class="search">
          <form action="{% url 'search' %}">
            {% csrf_token %}
            <!-- Form Row 1 -->
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label class="sr-only">Keywords</label>
                <input type="text" name="keywords" class="form-control" placeholder="Keyword (Boat, Yacht etc)">
              </div>

              <div class="col-md-4 mb-3">
                <label class="sr-only">City</label>
                <input type="text" name="city" class="form-control" placeholder="City">
              </div>

              <div class="col-md-4 mb-3">
                <label class="sr-only">State</label>
                <select name="state" class="form-control">
                  <option selected="true" disabled="disabled">State (All)</option>
                  {% for key, value in state_choices.items %}
                    <option value="{{key}}">{{value}}</option>
                  {% endfor %}

                </select>
              </div>
            </div>
            <!-- Form Row 2 -->
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label class="sr-only">Year</label>
                <select name="years" class="form-control">
                  <option selected="true" disabled="disabled">Year (All)</option>
                    {% for key,value in year_choices.items %}
                      <option value="{{key}}">{{value}}</option>
                    {% endfor %}
                </select>
              </div>
              <div class="col-md-6 mb-3">
                <select name="price" class="form-control" id="type">
                  <option selected="true" disabled="disabled">Price (Any)</option>
                  {% for key, value in price_choices.items %}
                    <option value="{{key}}">{{value}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <button class="btn btn-secondary btn-block mt-4" type="submit">Submit form</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Listings -->
<section id="listings" class="py-5">
  <div class="container">
    <h3 class="text-center mb-3">Latest Rentals</h3>
    <div class="row">

      {% if rentals %}
        {% for rental in rentals %}
          <!-- Listing 1 -->
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="card listing-preview">
              <a href="{% url 'rental' rental.id %}"><img class="card-img-top" src="{{rental.photo_main.url}}" alt="">
              <div class="card-img-overlay">
                <h2>
                  <span class="badge badge-secondary theme-blue">${{rental.min_price | intcomma}} - ${{rental.max_price | intcomma}}</span>
                </h2>
              </div>
              <div class="card-body">
                <div class="listing-heading text-center">
                  <h4 class="text-primary">{{rental.title}}</h4></a>
                  <p>
                    <i class="fas fa-map-marker text-secondary"></i> {{rental.city}}, {{rental.location}}</p>
                </div>
                <hr>
                <div class="row text-secondary">
                  <div class="col-6">
                    <i class="fas fa-th-large"></i> Capacity: {{rental.capacity}}</div>
                  <div class="col-6">
                    <i class="fas fa-calendar"></i> Year: {{rental.year}}</div>
                </div>
                <div class="row text-secondary">
                  <div class="col-6">
                    <i class="fas fa-cogs"></i> Make: {{rental.make}}</div>
                  <div class="col-6">
                    <i class="fas fa-atom"></i> Horsepower: {{rental.horsepower}}</div>
                </div>
                <hr>
                <div class="row text-secondary">
                  <div class="col-12">
                    <i class="fas fa-user"></i> {{rental.dealer}}</div>
                </div>
                <div class="row text-secondary pb-2">
                  <div class="col-6">
                    <i class="fas fa-clock"></i> {{rental.list_date | timesince}}</div>
                </div>
                <hr>
                <a href="{%url 'rental' rental.id%}" class="btn btn-primary btn-block">More Info</a>
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <div class="col-md-12">No Boats Available At The Moment</div>
      {% endif %}
    </div>
  </div>
</section>

<section id="services" class="py-5 bg-secondary text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4">
        <i class="fas fa-comment fa-4x mr-4"></i>
        <hr>
        <h3>Consulting Services</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur
          hic dignissimos ratione ea quae.</p>
      </div>
      <div class="col-md-4">
        <i class="fas fa-home fa-4x mr-4"></i>
        <hr>
        <h3>Propery Management</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur
          hic dignissimos ratione ea quae.</p>
      </div>
      <div class="col-md-4">
        <i class="fas fa-suitcase fa-4x mr-4"></i>
        <hr>
        <h3>Renting & Selling</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur
          hic dignissimos ratione ea quae.</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
